* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #E3E4DB;
    color: #1E1F1E;
    margin: 0;
    text-align: center;
}

.logo {
    width: auto;
    height: 60px;
    display: inline;
    float: left;
    margin-top: 5px;
    margin-left: 300px;
}

.title {
    font-size: 30px;
    margin: 11px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3E4DB;
    font-weight: bold;
}

h2,
h3 {
    font-weight: normal;
}

h3 {
   color: #1E1F1E; 
}

img {
    width: 400px;
    height: auto;
    border-radius: 30%;
}

.box {
    display: inline-block;
    text-align: left;
    font-size: 15px;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
}

.link:hover {
    background-color: #E3E4DB;
    color: #1E1F1E;
    cursor: pointer;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #E3E4DB;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    margin: 14px;
    padding: 10px;
    position: relative;
    left: 30%;
}

.nav-bar {
    display: flex;
    background-color: #1E1F1E;
    width: 100%;
    height: 90px;
    filter: drop-shadow(0 2px 3px #1E1F1E);
    padding: 10px;
}